.Button {
  background-color: transparent;
  border: none;
  color: white;
  display: block;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px auto;
  font-weight: bold;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
