.Navbar {
  height: 60px;
  width: 100%;
  background-color: #cf8f2e;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.Navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.Navbar ul li {
  margin: 0 10px;
  padding: 5px;
  cursor: pointer;
}

.Navbar ul li:hover {
  background-color: #946a2b;
}

@media (max-width: 450px) {
  .Navbar h1 {
    font-size: 20px;
  }
}
